/* @group Component */

* {
    outline:none !important;
    -moz-outline: none !important;
}

/*fix ie 7 .clearfix*/
*+html .clearfix { 
    display:inline-block; 
}

html, body{
    height:100%;
    background: #f9f9f9;
    font-family: 'Open Sans', sans-serif; 
    font-size:12px; 
    color:#666;
}
input, textarea, select {
    padding: 5px 0;
}
h3{

    font-weight: bold;
    color: #a44bfd;
    padding-bottom: 10px;
    line-height: normal;
    /*font-size: 18px;*/
}
.textcenter{
    text-align: center;
}

/*สี่เหลี่ยมม่วงหน้าข้อความหัวข้อ*/
h3 > img {
    vertical-align: middle;
}


/*	create account text 
- ข้อมูลสมาชิก - ข้อมูลส่วนตัว - ข้อมูลธุรกิจ -
*/
h4.reg{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    font-size: 1.4em;
}

hr { 
    border: 0; 
    height: 1px; 
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
    background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
    background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); 
    background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.2), rgba(0,0,0,0)); }
.hidden
{
    display:none; 
}
.strong{
    font-weight: 700;
}



/* DIV form WIDTH STYLE	*/
._20 {
    width: 16%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4px;
}
._25 {
    width: 21%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 4px;
}
._33 {
    margin-top: 4px;
    width: 29.33%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._40 {
    margin-top: 4px;
    width: 36%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._50 {
    margin-top: 4px;
    width: 46%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._75 {
    margin-top: 4px;
    width: 71%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

._80 {
    margin-top: 4px;
    width: 76%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}
._100 {
    margin-top: 4px;
    width: 96%;
    display: inline;
    float: left;
    margin-left: 2%;
    margin-right: 2%;
}

label {
    white-space: nowrap;
    width: 100%;
}


input[type="button"],input[type="submit"],a.btn{
    border: 1px;
    border-radius: 4px;
    display:inline-block;
    margin:0 2px;
    padding:3px 13px;
}
input[type="button"]:hover,input[type="submit"]:hover,a.btn:hover{
    cursor: pointer;
}
/*.btn{
        border-radius: 4px;
        display:inline-block;
        margin:0 2px;
        padding:3px 13px;
}*/


/*	btn  */
input[type="button"],
input[type="submit"],
a.btn{

    color: #fff;
    background: -webkit-linear-gradient(#EEB2FF,#DA49FF);  
    background: -moz-linear-gradient(#EEB2FF,#DA49FF);  
    background: -o-linear-gradient(#EEB2FF,#DA49FF);  
    background: linear-gradient(#EEB2FF,#DA49FF);  
    border: 1px solid #D076FF;
    -webkit-transition: background 1s ease-out;  
    -moz-transition: background 1s ease-out;  
    -o-transition: background 1s ease-out;  
    transition: background 1s ease-out;  
    background-position:bottom;  
    background-size:1px 50px;  
    /*    border-radius: 10px;  
        border: 1px solid #839DB0;  */
    cursor:pointer;  
    /* width: 150px;  */
    height: 25px;  

}


input[type="button"]:hover,
input[type="submit"]:hover,a.btn:hover{
    color: #fff; 
    background-position:top;  

}

input[type="button"].grey{
    background: #ffffff; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
    border: 1px solid #BBB;
    color: #BF1EB7;
}

input[type="button"].grey:hover{
    background: #B2B2B2; /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #ffffff 0%, #B2B2B2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#B2B2B2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#B2B2B2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#B2B2B2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#B2B2B2 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#B2B2B2',GradientType=0 ); /* IE6-8 */
    border: 1px solid #BBB;
    color: #BF1EB7;
}

/*form*/
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input {
    border: 1px solid #CCC;
    width: 100%;
    height: 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}
textarea:focus, 
input[type="text"]:focus, 
input[type="password"]:focus, 
input[type="datetime"]:focus, 
input[type="datetime-local"]:focus, 
input[type="date"]:focus, 
input[type="month"]:focus, 
input[type="time"]:focus, 
input[type="week"]:focus, 
input[type="number"]:focus, 
input[type="email"]:focus, 
input[type="url"]:focus, 
input[type="search"]:focus, 
input[type="tel"]:focus, 
input[type="color"]:focus, 
.uneditable-input:focus {
    border-color: #9D3BBC;
}
select{
    width: 100%;
    border:1px solid #CCC;
}
.fieldrequire{
    /*background: url('../img/fieldrequire.png') no-repeat center left;
    padding-left: 15px !important;*/
}

/* @end */

/* @group colour */
.twhite{
    color: #fff;	
}
.white{
    background: white;    
}	


.lgrey{

}
/* @end */

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on January 18, 2013 */

@font-face {
    font-family: 'thaisans_neue_blackregular';
    src: url('font/thaisansneue-black-webfont.eot');src: url('font/thaisansneue-black-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-black-webfont.woff') format('woff'),url('font/thaisansneue-black-webfont.ttf') format('truetype'),url('font/thaisansneue-black-webfont.svg#thaisans_neue_blackregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neuebold';
    src: url('font/thaisansneue-bold-webfont.eot');src: url('font/thaisansneue-bold-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-bold-webfont.woff') format('woff'),url('font/thaisansneue-bold-webfont.ttf') format('truetype'),url('font/thaisansneue-bold-webfont.svg#thaisans_neuebold') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_extbdregular';
    src: url('font/thaisansneue-extrabold-webfont.eot');src: url('font/thaisansneue-extrabold-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-extrabold-webfont.woff') format('woff'),url('font/thaisansneue-extrabold-webfont.ttf') format('truetype'),url('font/thaisansneue-extrabold-webfont.svg#thaisans_neue_extbdregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_extltregular';
    src: url('font/thaisansneue-extralight-webfont.eot');src: url('font/thaisansneue-extralight-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-extralight-webfont.woff') format('woff'),url('font/thaisansneue-extralight-webfont.ttf') format('truetype'),url('font/thaisansneue-extralight-webfont.svg#thaisans_neue_extltregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_lightregular';
    src: url('font/thaisansneue-light-webfont.eot');src: url('font/thaisansneue-light-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-light-webfont.woff') format('woff'),url('font/thaisansneue-light-webfont.ttf') format('truetype'),url('font/thaisansneue-light-webfont.svg#thaisans_neue_lightregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neueregular';
    src: url('font/thaisansneue-regular-webfont.eot');src: url('font/thaisansneue-regular-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-regular-webfont.woff') format('woff'),url('font/thaisansneue-regular-webfont.ttf') format('truetype'),url('font/thaisansneue-regular-webfont.svg#thaisans_neueregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_sembdregular';
    src: url('font/thaisansneue-semibold-webfont.eot');src: url('font/thaisansneue-semibold-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-semibold-webfont.woff') format('woff'),url('font/thaisansneue-semibold-webfont.ttf') format('truetype'),url('font/thaisansneue-semibold-webfont.svg#thaisans_neue_sembdregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_ultbdregular';
    src: url('font/thaisansneue-ultrabold-webfont.eot');src: url('font/thaisansneue-ultrabold-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-ultrabold-webfont.woff') format('woff'),url('font/thaisansneue-ultrabold-webfont.ttf') format('truetype'),url('font/thaisansneue-ultrabold-webfont.svg#thaisans_neue_ultbdregular') format('svg');font-weight: normal;font-style: normal;
}

@font-face {
    font-family: 'thaisans_neue_ultltregular';
    src: url('font/thaisansneue-ultralight-webfont.eot');src: url('font/thaisansneue-ultralight-webfont.eot?#iefix') format('embedded-opentype'),url('font/thaisansneue-ultralight-webfont.woff') format('woff'),url('font/thaisansneue-ultralight-webfont.ttf') format('truetype'),url('font/thaisansneue-ultralight-webfont.svg#thaisans_neue_ultltregular') format('svg');font-weight: normal;font-style: normal;
}



/* @group - #wrapper --------------------------------------------*/
#wrapper {
    height: auto !important;
    margin: 0 auto -120px;
    min-height: 100%;
}


/*ใช้ใน #wrapper ให้เพจอยู่ตรงกลาง มีเส้นขอบ */
#wrapper .pageborder,
#wrapper.pageborder{
    /*	min-height: 100%;*/
    /*	height: 100%;*/
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

#wrapper .bg{
    background: url('../img/bgpage.png') repeat-x ; 
    background-color: #fff;
}

/* @group page */
div.page {
    margin: 0 auto;
    width: 980px;
    max-width: 1110px;
    /*  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);*/
}
#container div.page {
    min-height: 647px;
}

/* @end */



.hidden_destiny {
    /*hide textfield form*/
    display:none;
}
/* @end */


/* @group sidebar (left side) */
.sidebar {
    float: left;
    min-height: 100%;
    width: 23%;
    /*background: #EEEEEE;*/
}
.sidebar .list li:first-child {
    padding : 5px 0 ;
}
.sidebar .list li{
    padding : 5px 0 ;
}
.sidebar .thumvideo li {
    float: left;
    padding: 5px;
}
.sidebar > ul {
    list-style: none;
    margin: 0px 0 0;
    padding: 0;
    width: 100%;
    /*	position: absolute;*/
    /*	width: 220px;*/
}
.sidebar > ul > li.logopage {
    display: block;
    position: relative;
}
.sidebar > ul > li > a {
    /* padding: 10px 0 10px 15px; */
    display: block;
    color: #939da8;
    text-align:center;
}
/*.sidebar > ul > li > a > i {
        margin-right: 10px;
}*/
.sidebar > ul > li.active > a {
    background: url("../img/menu-active.png") no-repeat scroll right center transparent !important;
    text-decoration:none;
}
.sidebar > ul > li.active ul {
    display:block;
}
.sidebar > ul > li > a > .label {
    margin: 0 20px 0 0;
    float: right;
    padding: 3px 5px 2px;
}
.sidebar > ul li ul {
    display: none;
    margin: 0;
    padding: 0;
}
.sidebar > ul li.open ul {
    display: block;
}
.sidebar > ul li ul li a {
    padding: 10px 0 10px 25px;
    display: block;
    color: #777777;
}
.sidebar > ul li ul li:first-child a {
    border-top: 0;
}
.sidebar > ul li ul li:last-child a {
    border-bottom: 0;
}
/* @end */


/* @group content (right side) */
.content {
    margin-right: 0;
    min-height:100%;
    width: 77%;
    float: left;
    padding-left: 0px;
}
/* @end */

/* @group - #header -------------------------------------------- */
#header.headerpage{
    background: url("../img/header.png") no-repeat center center ; 
    height: 188px;
}
/* Header left side	*/
#header .sidebar .logo li{
    height: 180px; 
    *line-height:180px;
    vertical-align: bottom ;
    /*background: #777;*/
}
#header .sidebar .logo li.logopage {
    background: #fff;
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    /*behavior: url(PIE.htc);*/
}
#header .sidebar .logo li img{
    margin-top: 70px;
    /*right: 0px; 
    margin-bottom: 33px;*/
    /*     position: absolute;   */
    /*vertical-align: bottom !important;*/
}

#header .loginbtnbox li{
    display: block;
    *display: inline;
    zoom: 1;
}

/*lang*/
#header .loginbtnbox li div.lang {
    display: inline-block;
    margin-top: 4px;
    zoom: 1;
    *display: inline;
    position: absolute;
}

#header #language-select > span#th:hover,#header #language-select > span#en:hover{

    /*box-shadow: 0 0 5px 2px white;*/
}
#header #language-select > span#th_select,
#header #language-select > span#th{
    background: url("/img/th.png") no-repeat scroll 0 center transparent;
    color: transparent;
    content: " ";
    display: inline-block;
    height: 15px;
    width: 20px !important;
    cursor: default;
}

#header #language-select > a#th_select,
#header #language-select > a#th{
    background: url("/img/th.png") no-repeat scroll 0 center transparent;
    color: transparent;
    content: " ";
    display: inline-block;
    height: 15px;
    width: 20px !important;
}
#header #language-select > a#th:hover,
#header #language-select > a#en:hover {
    transition: opacity 0.5s ease;
    /*-moz-box-shadow: 0 0 5px #FFF;
    -webkit-box-shadow: 0 0 5px#FFF;
    box-shadow: 0 0 5px #FFF;*/
    opacity: 0.7;

}
#header #language-select > a#en_select,
#header #language-select > a#en{
    background: url("/img/en.png") no-repeat scroll 0 center transparent;
    color: transparent;
    content: " ";
    display: inline-block;
    height: 15px;
    width: 20px !important;

}

#header #language-select > span#en_select,
#header #language-select > span#en{
    background: url("/img/en.png") no-repeat scroll 0 center transparent;
    color: transparent;
    content: " ";
    display: inline-block;
    height: 15px;
    width: 20px !important;
    cursor: default;
}

#header .loginbtnbox li img {
    display: inline;
    zoom:1;

    float: left;
    height:19px;
    width: 20px;
    content: " ";
    /*	padding: 0 2px;
    */}

#header .loginbtnbox li img:hover{
    opacity: 0.7;
    transition: opacity 0.5s ease 0s;
}


#header .loginbtnbox li img.rightindex{
    float: right !important;
}
#header .loginbtnbox li a.loginbtn,
#header .loginbtnbox li a.createaccountbtn{
    text-align: center;
    margin: 5px 2px;
    float:right; 
    background-color: #fafafa;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-image: linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 61%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 61%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 61%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 61%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 61%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.07, rgb(255,255,255)),color-stop(0.61,rgb(238,238,238)));
}

#header .loginbtnbox li a.createaccountbtn{
    margin-right: 0px !important;
}

#header .loginbtnbox li a.loginbtn:hover,
#header .loginbtnbox li a.createaccountbtn:hover{
    background-image: linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 0%);
    background-image: -o-linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 0%);
    background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 0%);
    background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 0%);
    background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 7%, rgb(238,238,238) 0%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.07, rgb(255,255,255)),color-stop(0.1, rgb(238,238,238)));
    font-weight : 500;
    color:purple;
    cursor:pointer;
}

/*
HEADER BOX RIGHT 
login btn , create account btn ,search box
*/

#header a.loginbtn{
    width: 80px;	
}
#header a.createaccountbtn{
    width: 150px;
}

#header .loginbtnbox li .searchbox {
    border-radius: 4px 4px 4px 4px;
    font-size: 7px;
    height: 12px;
    margin-bottom: 6px;
    width: 211px;
    padding-left: 23px !important;
    float: right;
}
.searchbox{  
    background: url('../img/search.png')no-repeat ;
    background-position: 5px 50%; 
    background-size: 12px 12px;                                             	
}




/* @group MENU NAV */


/*	NAV  */
#header .content .menutop{
    float: left;
    margin-left: 5px;
    width: 99.5%;
    margin-top: 10px;
}

#header .menu > li {
    float: left;
    background: rgba(117,5,154,.7) ;	
    width: 25%;
    *width: 24.95%;
    /* border-left: 1px solid #A94DC5 !important;*/
    border: 1px solid #A94DC5 !important;
    border-width: thin ;
    margin:-1px;
    color: #fff;
    text-align: center;
    line-height: 50px;
    vertical-align: middle;
    white-space: nowrap;
}
#header .menu li:hover{
    cursor: pointer;
    background: #5c027a;
}
#header .menu > li a {
    position: relative;
    color: #fff;
    margin: 0px; display: block; width: 100%; height: 100%; 
}
#header .menu > li a:visited{
    color: #fff;
}
/* @end */



/* @end */



/* @group - #container ---------------------------------------------------------------------------------------- */

#container{
    height: 100%;
}
#container .knowledgedata li{
    margin: 3.5px;
    border: 1px solid #d0d0d0;
    float: left;
    width:240px ;
    height: 270px;
    overflow: hidden;
    transition: all 0.4s linear;
}


#container .knowledgedata .knowledgeimg{
    height:150px;
    min-height: 120px; 
    max-width: 240px;
    background-size: auto 150px;
    border-bottom: 1px solid #ccc; 
}

#container .knowledgedata .knowledgeimg a {
    display: block; 
    height: 100%; 
    width: 100%;
}

#container .knowledgedata li .textpad{
    display: inline-block;
    height: 80px;
    padding: 5px;
    width: 96%;
    height:110px;
    overflow: hidden;

}

#container .knowledgedata li .textpad{
    word-wrap:  break-word;
}

/*#container .knowledgedata li:hover{
        -webkit-box-shadow: 0px 0px 2px 0 #aaa;
        -moz-box-shadow: 0px 0px 2px 0 #aaa;
        box-shadow: 0px 0px 2px 0 #aaa;
}*/

#container .knowledgedata li:hover{
    border-color: #9B59B6;
    -webkit-transition: all 1s linear;
    -o-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -kthtml-transition: all 1s linear;
    transition: all .1s linear;
    outline: 0px solid #9b59b6 !important;
}
#container .knowledgedata li:hover .textpad{
    background: #7c02ac;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzdjMDJhYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMzAwZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #7c02ac 1%, #a300d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#7c02ac), color-stop(100%,#a300d9));
    background: -webkit-linear-gradient(top,  #7c02ac 1%,#a300d9 100%);
    background: -o-linear-gradient(top,  #7c02ac 1%,#a300d9 100%);
    background: -ms-linear-gradient(top,  #7c02ac 1%,#a300d9 100%);
    background: linear-gradient(to bottom,  #7c02ac 1%,#a300d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c02ac', endColorstr='#a300d9',GradientType=0 );

    color: #fff;
}
div.arrow{
    width: 45px;

}
#container .knowledgedata li div.arrow{
    background: url("../img/tri.png") !important ;
}
#container .knowledgedata li:hover div.arrow{
    background: url("../img/trihover.png") !important ;
}

#container .knowledgedata li:hover .textpad a{
    color: #fff !important;
    border-bottom: 1px solid #fff;
}

#container .knowledgedata li .textpad a{
    color: #AF1CFF ;

}

#container .knowledgedata li .textpad a:visited{
    color: #B15EFF ;

}


#container .knowledgedata .arrow{
    display: block;
    height: 15px;
    margin-left: 175px;
    margin-top: -15px;
    position: absolute;
}

.manageform{
    padding: 20px 30px;
}
.manageform hr{
    border-top: 0px;
    border-bottom: 1px dashed #AAAAAA;
    color: transparent;
    margin-bottom: 15px;
    margin-left: -2px;
    margin-top: 0;
}

#container ul.form form li {

    clear: both;
    height: 40px;
    line-height: 29px;
    vertical-align: middle;
}
#container ul.form form li > label{
    width: 15%;
    float: left;
}

#container ul.form form li > input[type="text"]{
    float: right;
    width: 84%;
}

#container ul.form form li > img{
    float: left;
}


.radiofix span{
    float: left;
}



#container ul.form form li > #insert-form span {
    float: left;
}

#container ul.form form li > span.cke_skin_kama{
    width: 778px !important;
    float: right;
    padding:0px;
    margin-bottom: 13px;
}

#container .content .knowledgeview{
    border: 1px solid #ccc;
}

#container .content .knowledgeview .btnedit{
    margin-left: 681px;
    margin-top: 8px;
    position: absolute;
}
#container .content .knowledgeviewtext {
    padding: 20px 30px;

}

#container .content .knowledgeviewtext > p {
    word-wrap: break-word;
}

#container .grid-view .filters input{
    padding: 5px 0px ;

}
#container .grid-view table.items tr th:first-child{
    border-radius: 4px 0 0 4px;
}

#container .grid-view table.items tr th:last-child{
    border-radius:  0 4px 4px 0 ;
}

#container .grid-view table.items{
    border:0px transparent;
}
#container .grid-view table.items tr th{
    border: 0px transparent;
}
#container .grid-view table.items th, .grid-view table.items td{
    vertical-align: middle;
    padding: 7px 0.5em 0.3em;
}
#container .grid-view table.items tr.odd{
    background: none repeat scroll 0 0 #EEEEEE;
}

/*link page */
#container ul.linklist{
    margin:0;
    padding:0;
    list-style-type:none;
    width:100%;
    *position: absolute;
}
#container ul.linklist > li{
    border: 1px solid silver;
    float: left;
    height: 165px;
    margin-right: 15px;
    margin-top: 12px;
    text-align: center;
    vertical-align: middle;
    width: calc(25% - 14px);	
    *width: 19.7%;  
    *text-align: center;
}

#container ul.linklist > li:hover{
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
    background: rgb(239,239,239); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,239,239,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(239,239,239,1) 0%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

#container ul.linklist ul.innerlogo li{
    display: block !important;
}

#container ul.linklist ul.innerlogo li:first-child{
    line-height: 120px;
}

#container ul.linklist li:nth-child(4n){
    margin-right: 0px !important;
}

#container ul.linklist li img{
    vertical-align: middle;
    max-width: 123px;
    max-height: 97px;
}

#container ul.linklist li ul.innerlogo li:last-child {
    font-weight: bold;
    text-align: center;
    letter-spacing: .9px;
}

#container ul.linklist > li:first-child{
    margin-left: 0 !important;
}

#container div.page{
    padding-bottom: 30px;
    padding: 5px;
}
/*Images Box Page left side */
#container .sidebar div.menuitem{
    width: 225px;
}
#container .sidebar div.menuitem ul li.boxhead{
    height: 205px;    
}
#container .sidebar div.menuitem ul li.boxhead img{
    width:225px;
}
#container #calendar {  
    width: 97%;
    padding: 10px;
    background: #f1f1f1;
    margin: 0 auto;
    border: 1px solid #d1d1d1;
}


#container .tabfaq {
    margin-top: -38px;
    position: absolute;
    z-index: 4;
}



/*edir tab*/
div#i_containTab{  
    position:relative;  
    display:block;  
    width:500px; /* กำหนดความกว้างทั้งหมด   */  
    border:1px solid #CCC;  
}  
ul#navi_containTab{  
    list-style:none;  
    padding:0;  
    padding-bottom: 25px;
    margin:0;     
    width:180%;  
    /*    background-color:#FCF;  */
}  
ul#navi_containTab li {  
    -webkit-box-shadow: 2px 2px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    2px 2px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         2px 2px 5px rgba(50, 50, 50, 0.75);
    display:block;  
    float:left;  
    height:33px;      
    width:180px;  /* กำหนดความกว้างทั้งหมด  หารด้วยจำนวนเมนูแท็บ  */  
    border:0px solid #CCC;  
    line-height:33px;  
    cursor:pointer;  
    text-align:center;  
    background: url('../img/tabedirbg.png');
}  
/* class รูปแบบของแต่ละเมนู */  
.tabNavi1{

    /*    background-color:#9C3;    */
}  
.tabNavi2{  
    /*    background-color:#C93;        */
}  
.tabNavi3{  
    background-color:#FC9;        
}  
.tabNavi4{  
    background-color:#C9F;        
}  
.tabNavi5{  
    background-color:#F93;        
}  

ul#detail_containTab{  
    list-style:none;  
    padding:0;  
    margin:0;     
    width:100%;   
}  
ul#detail_containTab li{  
    float:left;  
    width:100%;  
    height:150px;     
}  
/* class รูปแบบของแต่ละเนื้อหา */  
.detailContent1{  
    /*  background-color:#9C3;    */
    display:block;  
}  
.detailContent2{  
    /*background-color:#C93;    */    
    display:none;  
}  
.detailContent3{  
    /*background-color:#FC9;  */  
    display:none;     
}  
.detailContent4{  
    /*background-color:#C9F;   */     
    display:none;  
}  
.detailContent5{  
    /*  background-color:#F93; */       
    display:none;  
}


/* @end */


/* @group - #footer -------------------------------------------- */
#footer ,#push {
    height: 120px;
}

#footer {
    background: url("../img/footter.png") no-repeat center center;
    padding-left: 20px;
    padding-right: 20px;
}

#footer .foottext {
    color: #FFFFFF;
    padding-top: 26px;
    text-align: left;
    vertical-align: middle; 
    width: 85%;
    float: left;
}

#footer .footright{
    width: 15%; 
    padding-top: 30px; 
    float: right;
}

#footer .footright img{
    border:2px solid #fff;

}

#footer .pagecen > div {
    color: #FFFFFF;
    padding-top: 20px;
    text-align: left;
    vertical-align: middle; 
    width: 85%;
    float: left;
}
/* @end */



/* @group Index Page*/
/*INDEX STYLE ------------------------------------------------------------------------------------------------------------------*/

#wrapper.pagecen {
    height: auto !important;
    min-height: 100%;
    width: 980px;
}

.bgindex{
    background: url('../img/bg.png') no-repeat ; 
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.pagepadding{
    padding: 0 10px;
}

#header.headindex{
    padding-top: 3%;
}

.smart{
    position: fixed;
    top: 25%;
    -webkit-animation:fadeInLeftBig 1s;
    -moz-animation:fadeInLeftBig 1s;
    -ms-animation:fadeInLeftBig 1s;
    -o-animation:fadeInLeftBig 1s;
    animation:fadeInLeftBig 1s;
}

.box {
    -webkit-animation:flipInYno 0.7s;
    -moz-animation:flipInYno 0.7s;
    -ms-animation:flipInYno 0.7s;
    -o-animation:flipInYno 0.7s;
    animation:flipInYno 0.7s;
}


/*menu index */
.gridmenu li{
    float: left;
    padding-right: 6px;
    padding-bottom :6px;
}

.gridmenu li a{
    height:139px;
    width: 139px;
    display: block;
}
.gridmenu .knowledge {
    background: url(../img/icon/knowledge.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .knowledge:hover {
    background: url(../img/icon/knowledgeth.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .websim {
    background: url(../img/icon/websim.png) no-repeat;
    height: 139px;
    width: 139px;
}

.gridmenu .websim:hover {
    background: url(../img/icon/websimth.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .edir {
    background: url(../img/icon/edir.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .edir:hover {
    background: url(../img/icon/edirth.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .servicepro {
    background: url(../img/icon/servicepro.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .servicepro:hover {
    background: url(../img/icon/serviceth.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .link {
    background: url(../img/icon/link.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .link:hover {
    background: url(../img/icon/linkth.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .faq {
    background: url(../img/icon/faq.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .faq:hover {
    background: url(../img/icon/faqth.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .aboutus {
    background: url(../img/icon/aboutus.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .aboutus:hover {
    background: url(../img/icon/aboutusth.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .news {
    background: url(../img/icon/news.png) no-repeat;
    height: 139px;
    width: 139px;
}
.gridmenu .news:hover {
    background: url(../img/icon/newsth.png) no-repeat;
    height: 139px;
    width: 139px;
}


/* @group indexpage left */
#wrapper .colleft{
    width: 600px; 
    float: left;
}

/* @end */


/* @group index right */
#wrapper .colright{
    width: 370px;float: left;
}
#wrapper .colright img.mascot{
    margin-left: 30px;
}

/* @end */




/* @end */





/* @group slide js */
#slides{
    float: right;
    overflow: hidden;
    width: 750px;
}

.slidesjs-pagination {
    float: right;
    list-style: none outside none;
    margin: 6px 0 0;
}
.slidesjs-pagination li {
    float: left;
    margin: 0 1px;
}
.orbit-caption  {
    width: 98.5% !important;
}

.tabcontent div.imgtopic img{
    width: 25%;
    float: left;
}

/* @end */



/* @group accordion */

.accordion {
    margin-bottom: 20px;
}


.accordion-group {
    margin-bottom: 2px;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.accordion-heading {
    border-bottom: 0;
}
.accordion-heading .accordion-toggle {
    display: block;
    padding: 8px 15px;
}
.accordion-toggle {
    cursor: pointer;
}
.accordion-inner {
    padding: 9px 15px;
    border-top: 1px solid #e5e5e5;
}

.collapse {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}

.collapse.in {
    height: auto;
    -webkit-transition: height 0.35s ease;
    -moz-transition: height 0.35s ease;
    -o-transition: height 0.35s ease;
    transition: height 0.35s ease;
}
/* @end */



ul.yiiPager {
    border: 0 none;
    display: inline;
    font-size: 11px;
    line-height: 100%;
    margin: 0;
    padding: 0;
}
ul.yiiPager li {
    display: inline;
}
ul.yiiPager a:link, ul.yiiPager a:visited {
    border: 1px solid #9AAFE5;
    color: #0E509E;
    font-weight: bold;
    padding: 1px 6px;
    text-decoration: none;
}
ul.yiiPager .page a {
    font-weight: normal;
}
ul.yiiPager a:hover {
    border: 1px solid #0E509E;
}
ul.yiiPager .selected a {
    background: none repeat scroll 0 0 #2E6AB1;
    color: #FFFFFF;
    font-weight: bold;
}
ul.yiiPager .hidden a {
    border: 1px solid #DEDEDE;
    color: #888888;
}
ul.yiiPager .first, ul.yiiPager .last {
    display: none;
}

.bannerlink{
    border: 1px solid #c9c9c9;
    height: 204px;
    width: 100%;
}

.cke_skin_kama .cke_wrapper{
    background-color: #f0f0f0 !important;
}

/* @group COMMENT CODE -------------------------------------------- */



/*
.menu > li:last-child{
border-right: 1px solid #A94DC5 ;
}*/
/*.bannerlink{
border: 1px solid #c9c9c9;
height: 204px;
width: 100%;
}*/
/*.imgknow{
/*height: 150px;*!/
vertical-align: middle;
width: 240px;
}*/
/*.licenter{
line-height: 165px;
display: inline-block;
line-height: 0;
vertical-align: middle;
}*/
/*login menu*/
/*#container .boxlogin{
height: 59px;
}
#container .boxlogin li a{
color: #fff;
float: right;
font-style: italic;
padding:5px 15px;
}*/
/*.pagepaddingfive {
padding: 0 5px;
}*/



/*tab menu selected*/



/*.tabcontent{
        transition:opacity 0.5s ease-in;}*/




/* @group animation */


/*.tabfade{
-webkit-animation:fadeIn 1s;
-moz-animation:fadeIn 1s;
-ms-animation:fadeIn 1s;
-o-animation:fadeIn 1s;
animation:fadeIn 1s;
}*/



/* @end */




/*#panit{

display: none;
}*/








/* @group form */

/*.row-fluid{
width: 100%;
}


.row-fluid ul.form li{
/*	line-height:30px*!/
}
.row-fluid ul.form li input,
.row-fluid ul.form li select
{

/*	vertical-align: baseline;*!/
}

.row-fluid ul.form li select.province{
float: left !important;
}
form {
margin: 0 0 20px;
}
fieldset {
padding: 0;
margin: 0;
border: 0;
}
legend {
display: block;
width: 100%;
padding: 0;
margin-bottom: 20px;
font-size: 21px;
line-height: 40px;
color: #333333;
border: 0;
border-bottom: 1px solid #e5e5e5;
}
legend small {
font-size: 15px;
color: #999999;
}
label,
input,
button,
select,
textarea {
font-size: 14px;
font-weight: normal;
line-height: 20px;
}
input,
button,
select,
textarea {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
label {
display: block;
margin-bottom: 5px;
}
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
display: inline-block;
height: 20px;
padding: 4px 6px;
margin-bottom: 10px;
font-size: 14px;
line-height: 20px;
color: #555555;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
vertical-align: middle;
}
input,
textarea,
.uneditable-input {
width: 206px;
}
textarea {
height: auto;
}
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
background-color: #ffffff;
border: 1px solid #cccccc;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
-webkit-transition: border linear .2s, box-shadow linear .2s;
-moz-transition: border linear .2s, box-shadow linear .2s;
-o-transition: border linear .2s, box-shadow linear .2s;
transition: border linear .2s, box-shadow linear .2s;
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
border-color: #DAA520;
/*  border-color: rgba(82, 168, 236, 0.8);
outline: 0;
outline: thin dotted \9;
/* IE6-9 *!/

-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.6);*!/
}
input[type="radio"],
input[type="checkbox"] {
margin: 4px 0 0;
*margin-top: 0;
/* IE7 *!/

margin-top: 1px \9;
/* IE8-9 *!/

line-height: normal;
}
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
width: auto;
}
select,
input[type="file"] {
height: 30px;
/* In IE7, the height of the select element cannot be changed by height, only font-size *!/

*margin-top: 4px;
/* For IE7, add top margin to align select with labels *!/

line-height: 30px;
}
select {
width: 220px;
border: 1px solid #cccccc;
background-color: #ffffff;
}
select[multiple],
select[size] {
height: auto;
}
select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
outline: thin dotted #333;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
.uneditable-input,
.uneditable-textarea {
color: #999999;
background-color: #fcfcfc;
border-color: #cccccc;
-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
cursor: not-allowed;
}
.uneditable-input {
overflow: hidden;
white-space: nowrap;
}
.uneditable-textarea {
width: auto;
height: auto;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
color: #999999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
color: #999999;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
color: #999999;
}
input, textarea { color: #000; }
.placeholder { color: #aaa; }

.radio,
.checkbox {
min-height: 20px;
padding-left: 20px;
}
.radio input[type="radio"],
.checkbox input[type="checkbox"] {
float: left;
margin-left: -20px;
}
.controls > .radio:first-child,
.controls > .checkbox:first-child {
padding-top: 5px;
}
.radio.inline,
.checkbox.inline {
display: inline-block;
padding-top: 5px;
margin-bottom: 0;
vertical-align: middle;
}
.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
margin-left: 10px;
}
.input-mini {
width: 60px;
}
.input-small {
width: 90px;
}
.input-medium {
width: 150px;
}
.input-large {
width: 210px;
}
.input-xlarge {
width: 270px;
}
.input-xxlarge {
width: 530px;
}
input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
float: none;
margin-left: 0;
}
.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
display: inline-block;
}
input,
textarea,
.uneditable-input {
margin-left: 0;
}
.controls-row [class*="span"] + [class*="span"] {
margin-left: 20px;
}
input.span12,
textarea.span12,
.uneditable-input.span12 {
width: 926px;
}
input.span11,
textarea.span11,
.uneditable-input.span11 {
width: 846px;
}
input.span10,
textarea.span10,
.uneditable-input.span10 {
width: 766px;
}
input.span9,
textarea.span9,
.uneditable-input.span9 {
width: 686px;
}
input.span8,
textarea.span8,
.uneditable-input.span8 {
width: 606px;
}
input.span7,
textarea.span7,
.uneditable-input.span7 {
width: 526px;
}
input.span6,
textarea.span6,
.uneditable-input.span6 {
width: 446px;
}
input.span5,
textarea.span5,
.uneditable-input.span5 {
width: 366px;
}
input.span4,
textarea.span4,
.uneditable-input.span4 {
width: 286px;
}
input.span3,
textarea.span3,
.uneditable-input.span3 {
width: 206px;
}
input.span2,
textarea.span2,
.uneditable-input.span2 {
width: 126px;
}
input.span1,
textarea.span1,
.uneditable-input.span1 {
width: 46px;
}
.controls-row {
*zoom: 1;
}
.controls-row:before,
.controls-row:after {
display: table;
content: "";
line-height: 0;
}
.controls-row:after {
clear: both;
}
.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
float: left;
}
.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
padding-top: 5px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
cursor: not-allowed;
background-color: #eeeeee;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
background-color: transparent;
}

.row-fluid {
width: 100%;
*zoom: 1;
}
.row-fluid:before,
.row-fluid:after {
display: table;
content: "";
line-height: 0;
}
.row-fluid:after {
clear: both;
}
.row-fluid [class*="span"] {
display: block;
width: 100%;
min-height: 30px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
float: left;
margin-left: 2.7624309392265194%;
*margin-left: 2.709239449864817%;
}
.row-fluid [class*="span"]:first-child {
margin-left: 0;
}
.row-fluid .controls-row [class*="span"] + [class*="span"] {
margin-left: 2.7624309392265194%;
}
.row-fluid .span12 {
width: 100%;
*width: 99.94680851063829%;
}
.row-fluid .span11 {
width: 91.43646408839778%;
*width: 91.38327259903608%;
}
.row-fluid .span10 {
width: 82.87292817679558%;
*width: 82.81973668743387%;
}
.row-fluid .span9 {
width: 74.30939226519337%;
*width: 74.25620077583166%;
}
.row-fluid .span8 {
width: 65.74585635359117%;
*width: 65.69266486422946%;
}
.row-fluid .span7 {
width: 57.18232044198895%;
*width: 57.12912895262725%;
}
.row-fluid .span6 {
width: 49.6%;
/*  width: 48.61878453038674%;
*width: 48.56559304102504%;*!/
}
.row-fluid .span5 {
width: 40.05524861878453%;
*width: 40.00205712942283%;
}
.row-fluid .span4 {
width: 32.9%;
/*  width: 31.491712707182323%;
*width: 31.43852121782062%;*!/
}
.row-fluid .span3 {
width: 22.92817679558011%;
*width: 22.87498530621841%;
}
.row-fluid .span2 {
/*  width: 14.3646408839779%;
*width: 14.311449394616199%;*!/
width: 18.4646408839779%;
*width: 18.411449394616199%;
}
.row-fluid .span1 {
/*  width: 5.801104972375691%;
*width: 5.747913483013988%;*!/
width: 8.2%;
*width: 8.2%;
}*/

/* @end */

/* @group accordion */







/* @end */

/* @group bootstrap modal */
/*.modal-backdrop {
position: fixed;
top: 0;
right: 0;
bottom: 0;
left: 0;
z-index: 1040;
background-color: #000000;
}

.modal-backdrop.fade {
opacity: 0;
}
.modal-backdrop,
.modal-backdrop.fade.in {
opacity: 0.8;
filter: alpha(opacity=80);
}
.modal {
position: fixed;
top: 10%;
left: 50%;
z-index: 1050;
width: 560px;
margin-left: -280px;
background-color: #ffffff;
border: 1px solid #999;
border: 1px solid rgba(0, 0, 0, 0.3);
*border: 1px solid #999;
/* IE6-7 *!/


-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
-webkit-background-clip: padding-box;
-moz-background-clip: padding-box;
background-clip: padding-box;
outline: none;
}
.modal.fade {
-webkit-transition: opacity .3s linear, top .3s ease-out;
-moz-transition: opacity .3s linear, top .3s ease-out;
-o-transition: opacity .3s linear, top .3s ease-out;
transition: opacity .3s linear, top .3s ease-out;
top: -25%;
}
.modal.fade.in {
top: 10%;
}






.modal-header {
padding: 9px 15px;
border-bottom: 1px solid #eee;
}
.modal-header .close {
margin-top: 2px;
}
.modal-header h3 {
margin: 0;
line-height: 30px;
}
.modal-body {
position: relative;
overflow-y: auto;
height: auto;
/*  max-height: 400px;*!/

padding: 2px;
}
.modal-form {
margin-bottom: 0;
}
.modal-footer {
padding: 14px 15px 15px;
margin-bottom: 0;
text-align: right;
background-color: #f5f5f5;
border-top: 1px solid #ddd;
-webkit-border-radius: 0 0 6px 6px;
-moz-border-radius: 0 0 6px 6px;
border-radius: 0 0 6px 6px;
-webkit-box-shadow: inset 0 1px 0 #ffffff;
-moz-box-shadow: inset 0 1px 0 #ffffff;
box-shadow: inset 0 1px 0 #ffffff;
*zoom: 1;
}
.modal-footer:before,
.modal-footer:after {
display: table;
content: "";
line-height: 0;
}
.modal-footer:after {
clear: both;
}
.modal-footer .btn + .btn {
margin-left: 5px;
margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {
margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
margin-left: 0;
}*/

/* @end */

/* @group bootstrap popover */
/*.popover {
position: absolute;
top: 0;
left: 0;
z-index: 1010;
display: none;
max-width: 276px;
padding: 1px;
text-align: left;
background-color: #ffffff;
-webkit-background-clip: padding-box;
-moz-background-clip: padding;
background-clip: padding-box;
border: 1px solid #ccc;
border: 1px solid rgba(0, 0, 0, 0.2);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
white-space: normal;
}
.popover.top {
margin-top: -10px;
}
.popover.right {
margin-left: 10px;
}
.popover.bottom {
margin-top: 10px;
}
.popover.left {
margin-left: -10px;
}
.popover-title {
margin: 0;
padding: 8px 14px;
font-size: 14px;
font-weight: normal;
line-height: 18px;
background-color: #f7f7f7;
border-bottom: 1px solid #ebebeb;
-webkit-border-radius: 5px 5px 0 0;
-moz-border-radius: 5px 5px 0 0;
border-radius: 5px 5px 0 0;
}
.popover-title:empty {
display: none;
}
.popover-content {
padding: 9px 14px;
}
.popover .arrow,
.popover .arrow:after {
position: absolute;
display: block;
width: 0;
height: 0;
border-color: transparent;
border-style: solid;
}
.popover .arrow {
border-width: 11px;
}
.popover .arrow:after {
border-width: 10px;
content: "";
}
.popover.top .arrow {
left: 50%;
margin-left: -11px;
border-bottom-width: 0;
border-top-color: #999;
border-top-color: rgba(0, 0, 0, 0.25);
bottom: -11px;
}
.popover.top .arrow:after {
bottom: 1px;
margin-left: -10px;
border-bottom-width: 0;
border-top-color: #ffffff;
}
.popover.right .arrow {
top: 50%;
left: -11px;
margin-top: -11px;
border-left-width: 0;
border-right-color: #999;
border-right-color: rgba(0, 0, 0, 0.25);
}
.popover.right .arrow:after {
left: 1px;
bottom: -10px;
border-left-width: 0;
border-right-color: #ffffff;
}
.popover.bottom .arrow {
left: 50%;
margin-left: -11px;
border-top-width: 0;
border-bottom-color: #999;
border-bottom-color: rgba(0, 0, 0, 0.25);
top: -11px;
}
.popover.bottom .arrow:after {
top: 1px;
margin-left: -10px;
border-top-width: 0;
border-bottom-color: #ffffff;
}
.popover.left .arrow {
top: 50%;
right: -11px;
margin-top: -11px;
border-right-width: 0;
border-left-color: #999;
border-left-color: rgba(0, 0, 0, 0.25);
}
.popover.left .arrow:after {
right: 1px;
border-right-width: 0;
border-left-color: #ffffff;
bottom: -10px;
}*/
/* @end */




/* @group bootstro js css*/
/*.bootstro-next-btn {
float:right;
}
.bootstro-prev-btn {
float:left;
}
.bootstro-backdrop{
opacity: 0.5;
background-color: #000000;
bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: 1;
filter: alpha(opacity = 50);    
}
.bootstro-highlight {
z-index: 9999;
position: relative;
border: 1px solid white;
background-color: white;
}

.bootstro-finish-btn-wrapper {
border-top:1px solid #eee;
padding-top:10px;
text-align:center;
clear:both;
}

.bootstro-nav-wrapper {
margin-top:10px;
}

.bootstro-nav-wrapper button, .bootstro-finish-btn-wrapper button {
font-size:12px !important;	
padding : 3px 5px 3px 5px !important;
font-weight:bold;
}*/

/* @end */




/*edit*/
/*.edit_profilepicture {
background:#FFFFFF none repeat scroll 0 0;
height:20px;
padding:5px 27px 0 6px;
position:absolute;
right:0;
top:0px;
}
.edit_profilepicture_icon {
background:transparent url(../img/penciledit.gif) no-repeat scroll right top;
height:18px;
position:relative;
position:absolute !important;
width:18px;
right:4px;
top:4px;
margin-top:0px;
text-decoration:none;
}
.whitepencil
{
background-position:right bottom;
}
.hidden
{
display:none; 
}*/
/* @end */

/* bee */
ul.btnMangae li{
    background-color: #FAFAFA;
    background-image: -moz-linear-gradient(center bottom , #FFFFFF 7%, #EEEEEE 61%);
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    margin: 5px 2px;
    text-align: center;
    padding: 3px;
}